#centerhead {
    color: green;
}

#crumbs ul {
    padding: 0;
    margin: 0;
    line-height: 1.0;
}

#crumbs li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

#crumbs li:not(:first-child)::before {
    content: ">";
    padding: .3em;
}

#crumbs {
    padding-left: 1.25em;
    order: -1;
}